Repository valhalla/valhalla, pull requests merged in 2020-08, with the labels that each got.

#2487 Sanitizer checks
  .circleci/config.yml
  CHANGELOG.md
  CMakeLists.txt
  README.md
  cmake/CMakeSettings.json
  cmake/SanitizerOptions.cmake
Labels: ci

#2513 Fix heading calculation for turn type
  CHANGELOG.md
  src/mjolnir/graphenhancer.cc
  test/gurka/test_turn_lanes.cc
Labels: bug, mjolnir

#2518 Parseways speedup
  CHANGELOG.md
  src/mjolnir/pbfgraphparser.cc
Labels: mjolnir

#2468 Speed up tile building: don't copy GraphTileBuilder every time
  CHANGELOG.md
  src/mjolnir/graphenhancer.cc
  src/mjolnir/graphtilebuilder.cc
  valhalla/mjolnir/graphtilebuilder.h
Labels: mjolnir

#2522 [Do Not Merge] New Urban Area Flag
  CHANGELOG.md
  scripts/valhalla_build_config
  src/mjolnir/graphbuilder.cc
  src/mjolnir/graphenhancer.cc
  src/mjolnir/pbfgraphparser.cc
  src/tyr/route_serializer_osrm.cc
  test/CMakeLists.txt
  test/urban.cc
  valhalla/mjolnir/osmnode.h
Labels: WIP
