Repository valhalla/valhalla, pull requests merged in 2021-07, with the labels that each got.

#3209 Avoid useless blank line logged to stderr
  src/baldr/tz_alt.cpp
Labels: baldr, cleanup

#3237 midgard: Rename LogLevel enumerators to avoid clash with common macros
  CHANGELOG.md
  src/CMakeLists.txt
  src/midgard/logging.cc
  valhalla/midgard/logging.h
Labels: midgard

#3238 Reject alternatives with too long detours
  CHANGELOG.md
  src/thor/alternates.cc
  src/thor/bidirectional_astar.cc
  test/gurka/test_alternates.cc
  valhalla/thor/alternates.h
Labels: enhancement, thor
